{{define "title"}}Uh oh - Spotlight{{end}}
{{define "content"}}
  <div class="jumbotron x-page-header">
    <div class="container">
      <h1>Uh oh!</h1>
    </div>
  </div>

  <div class="container">
    <div>
		  Something has gone terribly wrong!
	  </div>
  </div>
{{end}}
